body {
    margin: 0;
    font-family: 'lora', serif;
}

.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}



h2 {
    font-size: 28px;
    font-family:'ubuntu', sans-serif;
    text-transform: uppercase;
}

p {
    color: #7c7c7c;
}

h4 {
    font-family: 'ubuntu', sans-serif;
    text-transform: uppercase;
}

header {
        padding: 40px 0;
        text-align: center;
}

header ul li {
    text-decoration: none;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 15px;
}

header ul a {
    text-decoration: none;
    color: #A8A8A8;
}

.jumbotron {
    background: url(images/background.jpg);
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.jumbotron h1 {
    color: white;
    font-family: 'ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
}

.jumbotron p {
    margin: 30px 0;
}

.jumbotron button {
  width: 70%;
}

button {
    background-color: #7CC576;
    color: #fff;
    font-size: 12px;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px 0;
    border-radius: 28px;
    border: none;
    letter-spacing: 0.5px;
}

.service {
    text-align: center;
    padding: 50px 0;
}

.sample {
    text-align: center;
    padding: 0 15px;
}

.sample p {
    font-size: 14px;
}

.relax-left {
  background-image: url("images/relax-left.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.relax-right {
    background-image: url("images/relax-right.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10%;
}

.relax h2, .relax p {
    color: #ddd;
}

.relax-right button {
  width: 100%;
  margin-top: 50px;
}

.spanGreen {
    color: #7CC576;
}

.singlePoint p {
    display: inline;
}

.singlePoint i {
    color: #ddd;
    margin-right: 15px;
}

.project {
    text-align: center;
    padding: 50px 0 0;
}

.projectContainer {
  padding: 2%;
}

.projectSample {
  margin: 3%;
}

.projectSampleText h6 {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

.projectSampleText p {
    margin: 0;
}

.project a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.project a i {
    margin-left: 10px;
}

.projectRight {
  background-image: url(images/mobile.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}

.culture {
    background-color: #F9F9F9;
    text-align: center;
    padding: 60px 0;
}

.clients {
    padding: 60px 0;
    text-align: center;
}

.oneClient img {
    border-radius: 110px;
}

.oneClientText {
    background-color: #F9F9F9;
    margin: 20px;
    padding: 30px;
}

.nextProject {
    background-color: #7CC576;
    color: #fff;
    padding: 10% 5%;
    text-align: center;
}

.nextProject button {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}

.sponsor {
    text-align: center;
    margin: 2%;
    padding: 2%;
}

.contact {
    padding: 2%;
    background-color: #222222;
    color: #fff;
}

.contact p {
    margin: 0;
    color: #fff;
}

.contactSmall {
    display: flex;
    margin: 10px 0;
}
.contact i {
    font-size: 22px;
    margin: 0 10px;
}

p.hash  {
    font-weight: bold;
}

.contact p.pSmall {
    font-size: 12px;
}

.contactSmallIcon {
    width: 40px;
    text-align: center;
}

.contactSmallText {
    padding-left: 10px;
}

footer {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footerIcons {
    display: flex;
}

footer p {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
}
footer div.singleIcon {
    background-color: #222222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 42px;
    height: 42px;
    border-radius: 34px;
    margin: 10px;
}


@media (min-width: 768px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}

  header {
      text-align: center;
  }

  header ul {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      margin-top: 40px;
  }

  .jumbotron button {
    width: 30%;
  }

  .samples {
    display: flex;
  }

  .cultureSamples {
      display: flex;
      justify-content: space-around;
      padding-top: 70px;
  }
  .relax {
      display: flex;
  }

  .relax-right button {
    width: 40%;
  }

  .singlePoint {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .projectContainer {
      display: flex;
      justify-content: flex-end;
      text-align: left;
      padding-right: 0;
  }

  .projectSample {
      display: flex;
      align-items: center;
  }

  .projectSampleText {
      margin-left: 20px;
  }

  .sponsors {
      padding: 60px 20%;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  .oneClient {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .client2 {
    flex-direction: row-reverse;
  }

  .nextProject button {
      width: 20%;
  }

  .contact-post {
    display: flex;
    justify-content: space-around;
    padding: 0 2%;
  }
  .contact {
    text-align: left;
    padding: 60px 2%;
}

.latestTweets {
  padding: 0 2%;
}

footer {
  flex-direction: row;
  justify-content: space-around;
}

}

@media (min-width: 992px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contact {
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }
}
